# STM32 / Keil build artifacts
*.uvguix.*
*.scvd
*.crf
*.d
*.o
*.axf
*.lst
*.hex
*.bin
*.elf

# Compiled output
Out/
Output/
List/
Obj/
DebugConfig/

# JLink/ST-Link files
JLinkLog.txt
*.jlink

# Windows
Thumbs.db
Desktop.ini

# IDE
.vs/
*.suo
*.user
*.sln.docstates
*.tmp

# OS
.DS_Store
__MACOSX/
